body {
  margin: 0;
  font-family: "TisaPro";;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,html, #root{
  height: 100%;
  margin: auto;
  overflow: hidden;
  background: #fff;
}

